<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chodocu_ver1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChoDoCu_Ver1">
        <activity android:name=".XoaSanPhamActivity" />
        <activity android:name=".ChiTietCuocHenActivity" />
        <activity android:name=".User_ChinhSua_CuocHenActivity" />
        <activity android:name=".LichHenActivity" />
        <activity android:name=".UserTimNguoiCanGapActivity" />
        <activity android:name=".UserTaoLichHenActivity" />
        <activity android:name=".ChiTiet_ChoActivity" />
        <activity android:name=".User_Cho_ChuyenKhoanActivity" />
        <activity android:name=".DanhGia_SanPhamActivity" />
        <activity android:name=".LichSu_User_BiBaoCaoActivity" />
        <activity android:name=".HistoryUserbaocaoActivity" />
        <activity android:name=".UserCodEWalletOrderActivity" />
        <activity android:name=".ChiTiet_NhanVien_Activity" />
        <activity android:name=".GiaoDichActivity" />
        <activity android:name=".NhanVien_AdminActivity" />
        <activity android:name=".ThongKeActivity" />
        <activity android:name=".DanhSachUserActivity" />
        <activity android:name=".UserChiTietReportActivity" />
        <activity android:name=".Report_User_Admin_Activity" />
        <activity android:name=".UserChiTietDonBanActivity" />
        <activity android:name=".UserChiTietDonMuaActivity" />
        <activity android:name=".ReportUserActivity" />
        <activity android:name=".UserLichSuDonBanActivity" />
        <activity android:name=".ChiTiet_SanPham_ReportActivity" />
<!--        <activity android:name=".adapter.SanPhamBiBaoCaoAdapter" />-->
        <activity android:name=".SP_Report_admin_Activity" />
        <activity android:name=".Report_SP_Activity" />
        <activity android:name=".User_ChinhSua_CuaHangActivity" />
        <activity android:name=".User_DangBaiActivity" />
        <activity android:name=".UserCuaHangActivity" />
        <activity android:name=".CuaHang_MainActivity" />
        <activity android:name=".HoaHongActivity" />
        <activity android:name=".XuLyDonHang_NguoiBanActivity" />
        <activity android:name=".User_ChinhSua_SanPhamActivity" />
        <activity android:name=".User_Bai_TaiLenActivity" />
        <activity android:name=".User_LichSu_GiaoDichActivity" />
        <activity android:name=".DanhGiaActivity" />
        <activity android:name=".ViDienTu_LichSu_GiaoDichActivity" />
        <activity android:name=".DatHangThanhToanTrucTiepActivity" />
        <activity android:name=".User_XacNhan_DatHangActivity" />
        <activity android:name=".DonBanActivity" />
        <activity android:name=".DonMuaActivity" />
        <activity android:name=".ThanhToanActivity" />
        <activity android:name=".MuaActivity" />
        <activity android:name=".YeuCauChuyenKhoanDetailActivity" />
        <activity android:name=".YeuCauChuyenKhoanActivity" />
        <activity android:name=".ViDienTuActivity" />
        <activity android:name=".NguoiBan_MainActivity" />
        <activity android:name=".ChiTiet_YeuCau_CuaHangActivity" />
        <activity android:name=".YeuCau_DangKy_CuaHangActivity" />
        <activity android:name=".DangKyCuaHangActivity" />
        <activity android:name=".ChiTiet_SanPhamActivity" />
        <activity android:name=".QuanLyDanhMucActivity" />
        <activity android:name=".DoiMatKhauActivity" />
        <activity android:name=".ThongTinTaiKhoanActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".DangKyActivity" />
        <activity
            android:name=".UserMainActivity"
            android:label="@string/title_dashboard" />
        <activity android:name=".DangNhapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>